# =============================
# App database (postgres-mlops)
# =============================
POSTGRES_HOST=postgres-mlops
POSTGRES_PORT=5432
MLOPS_DB_NAME=mlops
POSTGRES_USER=mlops
POSTGRES_PASSWORD=mlops

# =============================
# Monitoring scheduler
# =============================
MONITORING_INTERVAL=300
MONITORING_LOOKBACK=24

# =============================
# Optional image tag overrides
# Used by docker-compose.share.yml
# =============================
BASE_IMAGE=nimish1106/sh-mlops-base:v3
AIRFLOW_SCHEDULER_IMAGE=nimish1106/sh-mlops-airflow-scheduler:v1
AIRFLOW_WEB_IMAGE=nimish1106/sh-mlops-airflow-web:v1
AIRFLOW_WEBSERVER_HOST_PORT=8080
