repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=10000']
      - id: check-json
      - id: check-merge-conflict

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        files: ^src/
        additional_dependencies: []
        args: [--config=setup.cfg]


  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.7.1
    hooks:
      - id: mypy
        files: ^src/
        additional_dependencies: [types-requests, pandas-stubs]
        args:
        - --ignore-missing-imports
        - --no-strict-optional
        - --disable-error-code=attr-defined
        - --disable-error-code=no-any-return
        - --disable-error-code=var-annotated
        - --disable-error-code=operator
